.userPanelCont {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.title {
  font-weight: 400;
  font-size: 32px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--main);
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.span {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .userPanelCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 49px;
  }

  .title {
    max-width: 310px;
    font-size: 36px;
    line-height: 2;
    align-self: center;
  }
}
