/* Загальні стилі для обох кнопок */
.addWaterButton {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* transition: background-color 0.3s ease; */
  transition: color 250ms ease-in;
  display: flex;
  align-items: center;
}

.addWaterButton:hover,
.addWaterButton:focus {
  color: var(--accent-hover);
}

/* Стилі для зеленої кнопки */

.addWaterBtn {
  composes: addWaterButton;
  position: relative;
  /* width: 140px; */
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding-left: 40px;
  color: var(--main);
  transition: color 250ms ease-in;
}

/* .addWaterBtn:focus {
  outline: none;
} */

.addWaterBtn:hover,
.addWaterBtn:focus,
.addWaterBtn:active {
  color: var(--main)
}

.plus {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #9be1a0;
  color: #323f47;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: background-color 0.5s ease; */
  transition: background-color 250ms ease-in;
}

.addWaterBtn:hover .plus,
.addWaterBtn:focus .plus,
.addWaterBtn:active .plus {
  background-color: #323f47;
}

.addWaterBtn:hover .plus::before,
.addWaterBtn:focus .plus::before,
.addWaterBtn:active .plus::before,
.addWaterBtn:hover .plus::after,
.addWaterBtn:focus .plus::after,
.addWaterBtn:active .plus::after {
  background-color: white;
}

.plus::before,
.plus::after {
  content: '';
  position: absolute;
  background-color: #323f47;
  border-radius: 50px;
}

.plus::before {
  width: 15px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus::after {
  width: 2px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Стилі для чорної кнопки */
.btn {
  composes: addWaterButton;
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  background: #323f47;
  font-size: 14px;
  color: #fff;
  gap: 13px;
  outline: none;
  border: none;
  transition: color 250ms ease-in;
  /* transition: color 0.3s ease; */
  margin-top: 42px;
  margin-left: auto;
  margin-bottom: 0px;
}

.icon {
  position: relative;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: '';
  position: absolute;
  background-color: white;
  border-radius: 50px;
  transition: background-color 250ms ease-in;
}

.icon::before {
  width: 100%;
  height: 1.5px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon::after {
  width: 1.5px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #9be1a0;
}

.btn:hover .icon::before,
.btn:focus .icon::before,
.btn:active .icon::before {
  background-color: #9be1a0;
}

.btn:hover .icon::after,
.btn:focus .icon::after,
.btn:active .icon::after {
  background-color: #9be1a0;
}

@media (min-width: 768px) {
  .btn {
    border-radius: 30px;
    padding: 18px 30px;
    width: 178px;
    height: 60px;
    font-size: 16px;
    line-height: 1.5;
    gap: 15px;
    margin-top: 26px;
  }

  .icon {
    width: 14px;
    height: 14px;
  }

  .icon::before {
    height: 2px;
  }

  .icon::after {
    width: 2px;
  }
}

@media (min-width: 768px) {
  .btn {
    margin-top: 56px;
  }
}