.userBar {
  margin-top: 4px;
  border-radius: 15px;
  padding: 14px 20px;
  /* width: 137px; */
  height: 72px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  z-index: 999;
  /* width: 100%; */
}

svg {
  flex-shrink: 0;
}

.btn_settings {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  color: #323f47;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  /* width: 77px; */
  height: 18px;
  transition: color 0.3s ease;
}

.btn_settings:hover,
.btn_settings:focus {
  color: rgba(50, 63, 71, 0.4);
}

.btn_settings svg,
.btn_logout svg {
  margin-right: 8px;
}

.btn_logout {
  font-weight: 700;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.28571;
  color: rgba(50, 63, 71, 0.4);
  display: flex;
  align-items: center;
  /* width: 77px; */
  height: 18px;
  transition: color 0.3s ease;
}

.btn_logout:hover,
.btn_logout:focus {
  color: var(--main);
}

.icon_settings {
  stroke-width: 1.5px;
  stroke: #323f47;
  fill: transparent;
  transition: stroke 0.3s ease;
}

.btn_settings:hover .icon_settings,
.btn_settings:focus .icon_settings {
  stroke: rgba(50, 63, 71, 0.4);
}

.icon_logout {
  stroke-width: 1.5px;
  stroke: rgba(50, 63, 71, 0.4);
  fill: transparent;
  transition: stroke 0.3s ease;
}

.btn_logout:hover .icon_logout,
.btn_logout:focus .icon_logout {
  stroke: var(--main);
}

@media (min-width: 768px) {
  .userBar {
    width: 157px;
    height: 82px;
    margin-top: 8px;
  }

  .btn_settings {
    width: 80px;
    height: 23px;
  }

  .btn_logout {
    width: 80px;
    height: 23px;
  }
}