@media screen and (min-width: 320px) and (max-width: 374px) {
  .calendargrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 36px;
    column-gap: 18px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 375px) {
  .calendargrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 18px;
    padding-bottom: 12px;
    
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .calendargrid {
    /* max-width: 704px; */
    grid-template-columns: repeat(8, 1fr);
    row-gap: 42px;
    column-gap: 48px;
    padding-bottom: 12px;
    /* gap: 15px 48px; */
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .calendargrid {
    /* max-width: 608px; */
    grid-template-columns: repeat(8, 1fr);
    row-gap: 42px;
    column-gap: 43px;
    padding-bottom: 12px;
  }
}
