.error {
  color: #ef5050;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 0px;
}

.avatar_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.icon {
  fill: #fff;
}

.uploadButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.genderContainer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.radioButtonsContainer {
  display: flex;
  gap: 20px;
}

.mainLabel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 14px;
  color: #323f47;
}

.forInput {
  padding-bottom: 8px;
}

.radioLabel {
  padding-left: 10px;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
}

[type='radio'] + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

[type='radio'] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #9be1a0;
  border-radius: 100%;
}

[type='radio'] + label::after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

[type='radio']:checked + label::after {
  background: #9be1a0;
}

.secondaryLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2f2f2f;
}

.stats {
  padding-bottom: 8px;
}

.timeAndWeightContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  gap: 14px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 14px;
  border: 2px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.errorInput {
  border: 2px solid red;
}

.input:focus {
  border: 2px solid rgba(47, 47, 47, 0.15);
}

.formulaContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 28px;
  padding-top: 14px;
}

.formulaExample {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user_gender {
  width: 100%;
}

.formula {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #9be1a0;
}

.descriptionInfo {
  padding: 16px;
  margin-top: 14px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  color: rgba(47, 47, 47, 0.6);
}

.activeTime {
  padding-top: 14px;
}

.hashSpan {
  padding-right: 11px;
  color: #9be1a0;
  font-weight: 600;
}

.waterNormaContainer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.waterNorma {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #9be1a0;
}

.selectWater_norma {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.submitButton {
  padding: 14px 40px;
  margin-top: 40px;
  background-color: #9be1a0;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
  .avatar {
    width: 100px;
    height: 100px;
  }

  .uploadButton {
    font-size: 16px;
    line-height: 24px;
  }

  .mainLabel {
    font-size: 18px;
    line-height: 24px;
  }

  .secondaryLabel {
    font-size: 16px;
    line-height: 24px;
    color: #2f2f2f;
  }

  .formulaContainer {
    flex-direction: row;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .userInfo_container {
    width: 50%;
    width: calc(50% - 20px);
  }

  .water_container {
    width: 50%;
    margin-bottom: 44px;
    width: calc(50% - 20px);
  }

  .btn_container {
    width: 100%;
  }
}
