.wrapper {
  position: relative;
  width: 100%;
  height: 353px;
  border-radius: 30px;
  padding: 0 16px;

  background-image: url('../../assets/images/homepage/mobile/woman-mobile-x1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 320px) and (max-width: 360px) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 704px;
    height: 446px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 672px;
    height: 736px;
  }
}

/* =====  background img  ===== */

@media only screen and (min-resolution: 192dpi) {
  .wrapper {
    background-image: url('../../assets/images/homepage/mobile/woman-mobile-x2.png');
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    background-image: url('../../assets/images/homepage/tablet/woman-tablet-x1.png');
  }
}

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .wrapper {
    background-image: url('../../assets/images/homepage/tablet/woman-tablet-x2.png');
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    background-image: url('../../assets/images/homepage/desktop/woman-desktop-x1.png');
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .wrapper {
    background-image: url('../../assets/images/homepage/desktop/woman-desktop-x2.png');
  }
}

/* =====  background img  ===== */

.customers {
  position: absolute;
  top: 209px;

  display: inline-flex;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
  padding: 10px 14px;

  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .customers {
    top: 283px;
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .customers {
    top: 537px;
  }
}

.img {
  display: inline-flex;
  flex-direction: row;
}

.avatar {
  width: 28px;
  height: 28px;
}

@media only screen and (min-width: 768px) {
  .avatar {
    width: 47px;
    height: 47px;
  }
}

.avatar:not(:first-child) {
  margin-left: -13px;
}

@media only screen and (min-width: 768px) {
  .avatar:not(:first-child) {
    margin-left: -20px;
  }
}

.avatar:nth-child(1) {
  z-index: 3;
}

.avatar:nth-child(2) {
  z-index: 2;
}

.avatar:nth-child(3) {
  z-index: 1;
}

.text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  color: var(--main);
}

@media only screen and (min-width: 768px) {
  .text {
    font-size: 15px;
    line-height: 1.5;
  }
}

.text span {
  color: var(--accent);
}

.benefits {
  position: absolute;
  top: 265px;
  right: 16px;

  font-weight: 700;
  font-size: 8px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .benefits {
    top: 336px;
    right: 32px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .benefits {
    top: 594px;
  }
}

.benefitsTop {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
  .benefitsTop {
    gap: 10px;
    margin-bottom: 10px;
  }
}

.benefitHabit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-radius: 30px;
  padding: 9px 12px;

  background-color: var(--main);
  color: var(--main-white);
  text-align: end;
}

@media only screen and (min-width: 768px) {
  .benefitHabit {
    padding: 11px 16px;
  }
}

.benefitHabitCircle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--accent);
}

.benefitStatistics {
  border-radius: 30px;
  padding: 9px 12px;

  background-color: var(--accent);
  color: var(--main);
}

@media only screen and (min-width: 768px) {
  .benefitStatistics {
    padding: 11px 16px;
  }
}

.benefitSetting {
  width: max-content;
  border-radius: 30px;
  padding: 9px 12px;

  background-color: var(--main-white);
  color: var(--main);
}

@media only screen and (min-width: 768px) {
  .benefitSetting {
    padding: 11px 16px;
  }
}

.counter {
  position: absolute;
  display: block;
  border-radius: 30px;
  background-color: #323f47eb;
  top: -9px;
  left: 109px;
  color: var(--accent);
  padding: 3px 6px;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .counter {
    top: -18px;
    left: 165px;
    padding: 3px 8px;
    font-size: 13px;
  }
}
