.settings {
  position: absolute;
  border-radius: 15px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  overflow-y: auto;
  top: 64px;
  left: auto;
  right: auto;
  padding: 40px 20px;
  height: calc(100vh - 64px);
  width: 320px;
}

@media (min-width: 375px) {
  .settings {
    width: 343px;
  }
}

@media (min-width: 768px) {
  .settings {
    width: 648px;
    padding: 40px;
  }
}

@media (min-width: 1440px) {
  .settings {
    width: 920px;
  }
}
