.container {
  background-color: var(--main-white);
  margin-top: 56px;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding: 12px;
  height: 54px;
  width: 102px;
}

.litr {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: var(--main-text);
}

.norma {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: rgba(47, 47, 47, 0.6);
}

@media screen and (min-width: 768px) {
  .container {
    width: 129px;
    height: 78px;
    padding: 14px 18px 14px 18px;
    gap: 4px;
    margin-top: 80px;
    margin-left: 0px;
  }
  .litr {
    font-size: 15px;
    line-height: 22.4px;
  }
  .norma {
    font-size: 10px;
    line-height: 22.4px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-top: 52px;
    margin-left: 32px;
  }
  .litr {
    font-size: 15px;
    line-height: 22.4px;
  }
  .norma {
    font-size: 12px;
    line-height: 22.4px;
  }
}
