.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 415px;
  width: 343px;
  background-color: var(--accent);
  border-radius: 30px;
  background-image: url(../../assets/images/bottle/mobile/bottle-mobile-x1.png);
  background-size: 76%;
  background-position: center 50px;
  background-repeat: no-repeat;
  padding: 24px 16px;
}

@media only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx),
  only screen and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    background-image: url(../../assets/images/bottle/mobile/bottle-mobile-x2.png);
    background-size: 76%;
  }
}

@media screen and (max-width: 374px) {
  .container {
    width: 100%;
    min-width: 320px;
    background-size: 75%;
    height: 415px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    height: 578px;
    background-image: url(../../assets/images/bottle/tablet/bottle-tablet-x1.png);
    background-size: 53%;
    background-position: center;
    margin: 0 auto;
    padding: 32px;
  }

  @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx),
    only screen and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      background-image: url(../../assets/images/bottle/tablet/bottle-tablet-x2.png);
      background-size: 53%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    height: 736px;
    width: 672px;
    background-image: url(../../assets/images/bottle/desktop/bottle-desktop-x1.png);
    background-size: 76%;
    background-position: center 50px;
    background-repeat: no-repeat;
  }

  @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx),
    only screen and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      background-image: url(../../assets/images/bottle/desktop/bottle-desktop-x2.png);
      background-size: 76%;
    }
  }
}
