.btn {
  border-radius: 30px;
  padding: 6px 12px;
  min-width: 137px;
  max-width: -webkit-fill-available;
  background: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: #fff;
}

.name {
  font-weight: 700;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  max-width: 100%;
  overflow: hidden;
  transition: color 0.3s ease;
}

.avatar {
  border-radius: 100%;
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.icon {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: white;
}

@media (min-width: 768px) {
  .btn {
    min-width: 157px;
    max-width: 310px;
  }

  .name {
    line-height: 1.5;
    font-size: 16px;
  }

  .avatar {
    width: 44px;
    height: 44px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}