.calendarpagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
  justify-content: space-between;
}

.month {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: #323f47;
}

.spanmonth {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #323f47;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btnpagination {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #323f47;
  fill: transparent;
  cursor: pointer;
  text-decoration: none;
  width: 18px;
  height: 18px;
}

.iconpie {
  height: 24px;
  width: 24px;
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .month {
    font-size: 20px;
    line-height: 24px;
  }

  .spanmonth {
    font-size: 14px;
    line-height: 18px;
  }

  .pagination {
    gap: 18px;
  }

  .iconpie {
    height: 20px;
    width: 20px;
  }
}