.wrapper {
  padding: 40px 20px;
  width: 344px;
  background: var(--main-white);
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 0 auto 8px;
}

.success {
  color: var(--accent);
}

.error {
  color: var(--error);
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}

.paragraph {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 28px;
}

.btnWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn {
  border-radius: 30px;
  width: 100%;
  padding: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  background: var(--accent);
}

.grey {
  background: var(--background);
  color: rgba(50, 63, 71, 0.3);
}