.container {
  display: flex;
  flex-direction: column;
  background-color: var(--main-white);
  width: 198px;
  height: 70px;
  padding: 12px;
  border-radius: 15px;
  gap: 8px;
  margin-top: 49px;
  margin-left: 73px;
}

.label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: var(--main-text);
  margin: 0;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: rgba(240, 239, 244, 1);
  border-radius: 9px;
}

.progressFill {
  height: 100%;
  background-color: var(--accent);
  border-radius: 9px;
  transition: width 0.3s ease;
}

.progressMarker {
  position: absolute;
  top: -3px;
  width: 12px;
  height: 12px;
  background-color: var(--main-white);
  border: 1px solid var(--accent);
  border-radius: 50%;
  transform: translateX(-50%);
}

.progressLabels {
  display: flex;
  justify-content: space-between;
  color: rgba(240, 239, 244, 1);
}

.progressSpan {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: rgba(47, 47, 47, 0.6);
}

@media screen and (max-width: 374px) {
  .container {
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 295px;
    height: 106px;
    padding: 20px;
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 6px;
  }
  .label {
    font-size: 15px;
    line-height: 22.4px;
  }
  .progressBar {
    width: 100%;
    height: 8px;
  }
  .progressFill {
    height: 100%;
    background-color: var(--accent);
    border-radius: 9px;
  }
  .progressMarker {
    position: absolute;
    top: -2px;
    width: 12px;
    height: 12px;
    background-color: var(--main-white);
    border: 1px solid var(--accent);
    border-radius: 50%;
    transform: translateX(-50%);
  }
  .progressSpan {
    font-size: 12px;
    line-height: 22.4px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-top: 215px;
  }
}
